<%= form_for list.references.build, html: {class: 'form-inline'} do |f| %>
  <%= f.hidden_field :list_id, value: list.id %>
  <div class="add-paper">
    <%= f.fields_for Paper.new do |p| %>
      <div class="form-group add-reference col-md-12">
        <%= p.hidden_field :locator_type, value: '', id: 'add_locator_type' %>
        <i>
          Or add a paper by
          <%= link_to "DOI", '#', id: "add-doi" %>,
          <%= link_to "Pubmed ID", '#', id: "add-pubmed" %>,
          or <%= link_to "URL", '#', id: "add-link" %>
        </i>
        <%= p.text_field  :locator_id,
                          placeholder: 'URL, DOI, or Pubmed',
                          class: "form-control hidden paper-locator input-sm",
                          disabled: true %>

        <%= p.text_field  :title,
                          placeholder: 'Required - Paper Title ex: Regulation of the Neural Circuitry of Emotion',
                          class: "form-control hidden paper-title input-sm",
                          disabled: true %>
        <div class="form-group">
        <%= f.submit "Submit", class: "btn btn-primary btn-xs hidden", id: 'add_locator_submit', disabled: !current_user_can_edit?(list) %>
        <%= link_to "cancel", '#', id: "cancel-add-locator", class: "hidden" %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
<% end %>
