<%= form_for list.references.build, html: {class: 'form-inline'} do |f| %>
  <%= f.hidden_field :list_id, value: list.id %>
  <div class="form-group add-paper">
    <%= f.fields_for Paper.new do |p| %>
      <%= p.label :locator_type, 'Add paper by:' %>
      <%= p.select :locator_type,
        options_for_select({"URL" => 'link',
                            "DOI" => 'doi',
                            "Pubmed ID" => 'pubmed'}),
        {prompt: 'Choose one'},
        {class: 'form-control'}
      %>
      <%= p.text_field  :locator_id,
                        placeholder: 'URL, DOI, or Pubmed',
                        class: "form-control hidden paper-locator",
                        disabled: true %>

      <%= p.text_field  :title,
                        placeholder: 'Paper title',
                        class: "form-control hidden paper-title",
                        disabled: true %>
    <% end %>
    <%= f.submit "Submit", class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
