<%= form_for list.references.build, html: {class: 'form-inline'} do |f| %>
  <%= f.hidden_field :list_id, value: list.id %>
  <div class="form-group add-paper">
    <%= f.label :type, 'Add paper by:' %>
    <%= f.select :type,
      options_for_select({"URL" => 'url',
                          "DOI" => 'doi',
                          "Pubmed ID" => 'pubmed'}),
      {prompt: 'Choose one'},
      {class: 'form-control'}
    %>
    <%= f.text_field :paper_id, placeholder: 'Input paper ID', class: "form-control" %>
    <%= f.submit "Submit", class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
