<%= form_for(list) do |f| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-horizontal">
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", rows: 5 %>
  </div>

  <div class="form-group">
    <%= f.label :tag_list, 'Tags (separated by commas)' %>
    <%= f.text_field :tag_list, value: list.tag_list.join(","), class: "form-control"  %>
  </div>

  <div class="actions">
    <%= f.submit button_name, class: "btn btn-default" %>
  </div>
  </div>
<% end %>
