<% url = if list.persisted? then user_list_path(list.user, list) else lists_path end  %>

<%= form_for(list, url: url) do |f| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
        <% list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-horizontal">
    <div class="form-group">
      <%= f.label :name, class: "col-md-2 control-label" %>
      <div class="col-md-10">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :description, class: "col-md-2 control-label" %>
      <div class="col-md-10">
        <%= f.text_area :description, class: "form-control", rows: 5 %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :tag_list, 'Tags (separated by commas)', class: "col-md-2 control-label"  %>
      <div class="col-md-10">
        <%= f.text_field :tag_list, value: list.tag_list.join(","), class: "form-control"  %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Current contributors</label>
      <div class="col-md-10">
        <% members = list.members.where.not(id: list.owner.id) %>
        <% if members.any? %>
          <% members.each do |member| %>
            <div class="form-control">
              <%= link_to member.username, user_lists_path(member) %>
              <%= link_to 'Remove', {}, class: 'text-danger pull-right' %>
            </div>
          <% end %>
        <% else %>
          <div class="form-control">None</div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :members, 'Add a contributor', class: "col-md-2 control-label"  %>
      <div class="col-md-10">
        <% non_members = User.all - @list.members %>
        <%= f.select :members, non_members.map(&:username), {include_blank: 'None'}, {class: "form-control"}  %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit button_name, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
