<div class="cards row">
  <% lists.each.each do |list| %>
    <div class="col-md-4 card">
      <div class="panel panel-default">
        <div class="panel-body">
          <% if user_signed_in? %>
            <div class="row">
              <div class="col-md-12">
                <%= render partial: 'lists/toggle_pin', locals: { list: list } %>
                <%= render partial: 'votes/toggle_like', locals: { votable: list } %>
                <small class="pull-right">
                  <%= link_to 'Edit ', edit_list_path(list) %>
                  <%= link_to ' Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %>
                </small>
              </div>
            </div>
          <% end %>
          <h2><%= link_to list.name, list %></h2>
          <p><%= list.description %></p>
          <small>Tags:<i><%= list.tag_list %></i></br></small>
        </div>
      </div>
    </div>
  <% end %>
</div>
