<% lists.each do |list| %>
  <div class="card">
    <% if user_signed_in? %>
      <%= render partial: 'votes/toggle_like', locals: { votable: list } %>
    <% end %>
    <span class="info">
      <h2><%= list.name %></h2>
      <p><%= list.description %></p>
      <p>Tags:<i><%= list.tag_list %></i></p>
    </span>
    <span class="content">
      <%= render partial: 'lists/references', locals: { list: list } %>
    </span>
    <span class="options">
      <ul>
        <li><%= link_to 'Show', list %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'Edit', edit_list_path(list) %></li>
          <li><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          <%= render partial: 'lists/toggle_pin', locals: { list: list } %>
        <% end %>
      </ul>
    </span>
  </div>
<% end %>
