<% lists.each_slice(3) do |three_lists| %>
  <div class="row">
    <% three_lists.each do |list| %>
      <div class="col-md-4">
        <% if user_signed_in? %>
          <div class="row">
            <div class="col-md-10">
              <%= render partial: 'lists/toggle_pin', locals: { list: list } %>
            </div>
            <div class="col-md-2">
              <%= render partial: 'votes/toggle_like', locals: { votable: list } %>
            </div>
          </div>
        <% end %>
        <div class="panel panel-default">
          <div class="panel-body">
             <% if user_signed_in? %>
              <small>
                <%= link_to 'Edit ', edit_list_path(list) %>
                <%= link_to ' Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %>
              </small>
            <% end %>
            <h2><%= link_to list.name, list %></h2>
            <p><%= list.description %></p>
            <small>
              Tags:<i><%= list.tag_list %></i></br>
              Updated On: <%= list.updated_at %></br>
              Created By: <%= list.user.email %></br>
            </small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>