<div class="col-md-4 list-card">
  <div class="panel panel-default">
    <div class="panel-body">
      <% if user_signed_in? %>
        <div class="row">
          <div class="col-md-12">
            <%= render 'lists/toggle_pin', list: list %>
            <%= render 'votes/toggle_like', votable: list %>
            <% if current_user.can_edit? list %>
              <small class="pull-right">
                <%= link_to 'Edit ', edit_user_list_path(list.owner, list) %>
              </small>
            <% end %>
          </div>
        </div>
      <% end %>
      <h2>
        <%= link_to list.name, user_list_path(list.owner, list) %><br>
        <small> by <%= link_to list.owner.username, user_lists_path(list.owner) %></small>
      </h2>
      <p><%= truncate(list.description, length: 400, separator: ' ') %></p>
      <small>Tags:<i><%= list.tag_list %></i></br></small>
    </div>
  </div>
</div>
