<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-body">
      <% if user_signed_in? %>
        <div class="row">
          <div class="col-md-12">
            <%= render 'lists/toggle_pin', list: list %>
            <%= render 'votes/toggle_like', votable: list %>
            <% if list.user == current_user %>
              <small class="pull-right">
                <%= link_to 'Edit ', edit_user_list_path(list.user, list) %>
              </small>
            <% end %>
          </div>
        </div>
      <% end %>
      <h2>
        <%= link_to list.name, user_list_path(list.user, list) %><br>
        <small> by <%= link_to list.user.username, user_profile_path(list.user) %></small>
      </h2>
      <p><%= list.description %></p>
      <small>Tags:<i><%= list.tag_list %></i></br></small>
    </div>
  </div>
</div>
