[ <%= link_to 'Edit', edit_user_list_path(@list.user, @list) %> ]
<% if @list.user == current_user %>
  [ <%= link_to 'Delete List', destroy_user_list_path(@list.user, @list), data: { confirm: 'Are you sure?' } %> ]
<% end %>
<h2 class= "list-title"><%= @list.name %></h2>
<p>
  <%= @list.tag_list %>
</p>
<p>
  <strong>Description:</strong>
  <%= simple_format(@list.description) %>
</p>

<%= render 'crossref/search', list: @list %>

<%= render 'papers/sort_by' %>

<%= render partial: 'references/reference', collection: @references, locals: {show_comments: false} %>
<%= render 'lists/add_reference', list: @list %>

 |
<%= link_to 'Back', lists_path %>
