<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @list.description %>
</p>

<ul>
  <% @list.references.each do |reference| %>
    <%if reference.paper.present?%>
      <li>
      <%=reference.paper.title%> 
      <%= link_to 'Remove', reference_path(reference) %> 
      </li>
    <%end%>  
  <%end%>  
</ul>

<%= form_for(@reference) do |f| %>
  <div><%= hidden_field_tag :list_id, @list.id %></div>


  <div class="field">
    <%= f.label :paper_id %>
    <%= f.text_field :paper_id %>
  </div>

    <%= f.submit "Add Paper", class: "btn btn-primary" %>

<% end %>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
