<h1><%= @list.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @list.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @list.tag_list %>
</p>

<%= render partial: 'papers/index', locals: { references: @references } %>
<%= render partial: 'lists/add_paper_form', locals: { list: @list } %>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
