<h2 class= "list-title"><%= @list.name %></h2>
<div class="list-nav">
  created by <%= link_to @list.owner.username, user_profile_path(@list.owner) %>
   - <%= link_to 'Edit', edit_user_list_path(@list.owner, @list) %>
  <% if @list.owner == current_user %>
     - <%= link_to 'Delete List', destroy_user_list_path(@list.owner, @list), data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>
<p>
  <% @list.tag_list.each do |tag| %>
    <a class="btn btn-default btn-xs"><%= tag %></a>
  <% end %>
</p>
<strong>Description</strong>
<%= wrap_on_line_breaks @list.description %>
<%= render 'crossref/search', list: @list %>
<%= render 'lists/add_reference', list: @list %>
<% reference_count = @list.references.count %>
<% if reference_count > 0 %>
  <%= render 'papers/sort_by' %>
  <i><%= reference_count%> papers added to this list</i>
<% end %>
<%= render partial: 'references/reference', collection: @references, locals: {show_comments: false} %>


