<% @title = 'Home' %>

<% if @pinned_lists.present? %>
  <h1>Pinned Lists</h1>
  <%= link_to "View All Lists", lists_path %> or
  <%= link_to 'Create a New List', new_list_path %>

  <div class="cards row">
    <%= render @pinned_lists %>
  </div>
<% end %>

<% if @unpinned_lists %>
  <h1>Popular Lists</h1>
  <%= link_to "View All Lists", lists_path %> or
  <%= link_to 'Create a New List', new_list_path %>

  <div class="cards row">
    <%= render @unpinned_lists %>
  </div>
<% end %>
