<% if @lists.present? %>
  <h1>Pinned Lists</h1>
  <%= link_to "All lists", lists_path %>
  <%= link_to 'Create New List', new_list_path %>
  <div class="cards row">
    <%= render @lists %>
  </div>
  <%= link_to "All lists", lists_path %>
  <%= link_to 'Create New List', new_list_path %>
<% end %>

<h1>Popular Lists</h1>
<%= link_to "All lists", lists_path %>
<%= link_to 'Create New List', new_list_path %>
<div class="cards row">
  <%= render List.where.not(id: @lists.pluck(:id)).limit(9) %>
</div>
<%= link_to "All lists", lists_path %>
<%= link_to 'Create New List', new_list_path %>
