<% if @lists.present? %>
  <h1>Pinned Lists</h1>
  <%= link_to 'New List', new_list_path %>
  <%= render 'lists/index', lists: @lists %>
  <%= link_to 'New List', new_list_path %>
<% end %>

<h1>Popular Lists</h1>
<%= link_to "All lists", lists_path %>
<%= render 'lists/index', lists: List.where.not(id: @lists.pluck(:id)).limit(9) %>
<%= link_to "All lists", lists_path %>
