<% if @lists.present? %>
  <h1>Pinned Lists</h1>
  <%= link_to "View All Lists", lists_path %> or
  <%= link_to 'Create a New List', new_list_path %>

  <div class="cards row">
    <%= render @lists %>
  </div>
<% end %>

<% if (other_lists = List.where.not(id: @lists.pluck(:id)).limit(9)) %>
  <h1>Popular Lists</h1>
  <%= link_to "View All Lists", lists_path %> or
  <%= link_to 'Create a New List', new_list_path %>

  <div class="cards row">
    <%= render other_lists %>
  </div>
<% end %>
