<strong>Search for a paper to add</strong>
<div class="input-group input-group-sm crossref">

  <span class="input-group-addon" id="crossref-submit"><i class="glyphicon glyphicon-search"></i></span>
  <%= text_field_tag 'crossref-search', nil, class: 'form-control', placeholder: 'Search for a paper' %>
  <%= form_for list.references.build, html: {class: 'hidden'} do |f| %>
    <%= f.hidden_field :list_id, value: list.id %>
    <%= f.fields_for Paper.new do |p| %>
      <%= p.text_field :locator_type, value: 'doi' %>
      <%= p.text_field :locator_id, id: 'crossref-locator-id' %>
    <% end %>
  <% end %>
</div>
<ul class="hidden list-group" id="crossref-results"></ul>
