<div class="comment">
  <p class="text-muted">
    Added by <strong><%= comment.user.username %></strong> on <%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %>
  </p>

  <p><%= comment.content %></p>
  <ul>
    <li><%= render 'votes/toggle_like', votable: comment %></li>
    <% if current_user %>
      <li><%= link_to 'edit', edit_comment_path(comment), class: "btn btn-link btn-xs" %></li>
      <li><%= link_to 'reply', "#", class: 'toggle-reply btn btn-link btn-xs', "data-toggle-hide-id" => comment.id %></li>
      <%= link_to 'delete', comment_path(comment), class: "btn btn-link btn-xs", method: :delete %>
  </ul>
    <%= render 'comments/form',
          comment: comment.children.build(
            user_id: current_user.id,
            parent_type: comment.model_name
          ),
          display_comment_field: false
    %>
  <% end %>

  <%= yield %>
</div>