<div class="comment" id="comment-<%= comment.id %>" >
  <p class="text-muted">
    <%= if comment.created_at == comment.updated_at then 'Added by' else 'Updated by' end %>
    <strong><%= link_to comment.user.username, user_lists_path(comment.user.username) %></strong> on <%= l(comment.updated_at, format: '%B, %d %Y %H:%M:%S') %>
  </p>
  <% comment_content = wrap_on_line_breaks comment.content %>
  <%= content_tag(:span, comment_content, class: "content") %>
  <ul>
    <li><%= render 'votes/toggle_like', votable: comment %></li>
    <li><%= (link_to 'reply', "#", class: 'toggle-reply btn btn-link btn-xs', 'data-parent-comment-id' => comment.id) if current_user %></li>
    <% if current_user == comment.user %>
      <li><%= link_to 'edit', edit_comment_path(comment), remote: true, class: "edit-comment btn btn-link btn-xs" %></li>
      <li><%= link_to 'delete', comment_path(comment), remote: true, class: "btn btn-link btn-xs", method: :delete %><li>
    <% end %>
  </ul>
  <%= render('comments/form', comment: comment.children.build, hidden: true) if current_user %>

  <%= yield %>
</div>
