<%= form_for(comment) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group <%= "hidden" unless display_comment_field %>" id="<%= comment.parent_id %>">
    <%= f.text_field :content, class: 'form-control comment-box', placeholder: 'Write a reply...' %>
  </div>

  <%= f.hidden_field :parent_type, value: comment.parent_type %>
  <%= f.hidden_field :parent_id, value: comment.parent_id %>

  <%= f.submit class: 'btn btn-primary hidden' %>
<% end %>