<%= form_for comment, html: {class: "comment-reply #{'hidden' unless display_comment_field}"}, remote: true do |f| %>
  <div class="form-group">
    <%= f.text_area :content, class: 'form-control comment-box', placeholder: 'Write a reply...' %>
  </div>
  <%= f.hidden_field :parent_id, value: comment.parent_id %>
  <%= f.hidden_field :commentable_type, value: comment.commentable_type if display_comment_field %>
  <%= f.hidden_field :commentable_id, value: comment.commentable_id if display_comment_field %>
  <div class="form-group">
    <%= submit_tag "Submit", class: "btn btn-primary btn-xs" %>
  </div>
<% end %>
