<%= form_for comment, html: {class: "comment-reply #{'hidden' unless display_comment_field}"} do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :content, class: 'form-control comment-box', placeholder: 'Write a reply...' %>
  </div>

  <%= f.hidden_field :parent_id, value: comment.parent_id %>
  <%#
      We're hiding commentable fields unless display_comment_field because
      the only time we're displaying the comment field is when a user wants to add a top level comment.

      We unfortunately have to pass display_comment_field=true on the edit view, as well.
  %>
  <%= f.hidden_field :commentable_type, value: comment.commentable_type if display_comment_field %>
  <%= f.hidden_field :commentable_id, value: comment.commentable_id if display_comment_field %>

  <%= f.submit class: 'btn btn-primary hidden' %>
<% end %>