childCommentsDiv = $("div#child-comments-<%= parent_id %>.<%= comments_class %> ");
childCommentsDiv.prepend("<%= escape_javascript(render('comments/comment', comment: @comment)) %>");
commentDiv = childCommentsDiv.children().first();
commentsDivID = "child-comments-<%= @comment.id %>";
commentDiv.append("<div id= " + commentsDivID + " class= 'comment-comments'></div>");

replyForm = "<%= escape_javascript(render('form', comment: new_comment, display_comment_field: display_comment))%>"
$("#reply-form-<%= @comment.parent_id %>").replaceWith(replyForm);

commentsCountSpan = $("span#comments-count-<%= reference.id %>");
commentsCount = parseInt(commentsCountSpan.text());
commentsCountSpan.text(parseInt(commentsCount) + 1);