<% paper = reference.paper %>

<% if paper.doi.present? %>
  <li>DOI: <%= link_to paper.doi, "http://dx.doi.org/#{paper.doi}", target: '_blank' %></li>
<% end %>

<% if paper.pubmed_id.present? %>
  <li>Pubmed ID: <%= link_to paper.pubmed_id, "https://www.ncbi.nlm.nih.gov/pubmed/#{paper.pubmed_id}", target: '_blank' %></li>
<% end %>

<% if paper.links.any? %>
  <% paper.links.each do |l| %>
    <li>
      <%= link_to l.url, l.url, target: '_blank' %>
      <% if l.link_editable && current_user_can_moderate?(reference.list) %>
        <%= link_to '',
          link_path(l, reference: reference),
          method: 'delete',
          class: 'btn-icon remove-button',
          data: { confirm: 'Are you want to delete this link?' },
          remote: true
        %>
      <% end %>
    </li>
  <% end %>
<% end %>
<%= render 'links/links_form', paper: paper %>
