<% paper = reference.paper %>
<% list = reference.list %>

<% if paper.abstract.present? %>
  <div class='edit-abstract' id="edit-abstract-<%=reference.id%>">
    <i class='help-block'>
      <% if paper.abstract_editable %>
        This abstract is user generated and can be
        <% if current_user_can_edit?(list) || list.participants == 'public' %>
          <%= link_to 'edited', '#', class: "edit-abstract" %>
        <% else %>
          edited by contributors
        <% end %>
      <% else %>
        This abstract was imported and cannot be edited
      <% end %>
    </i>
    <%= wrap_on_line_breaks paper.abstract %>
  </div>
  <div class='abstract-form hidden'>
    <%= render('papers/abstract_form', paper: paper) %>
  </div>
<% elsif current_user_can_edit?(list) || list.participants == 'public' %>
  <b>No abstract found, you can add one:</b>
  <%= render 'papers/abstract_form', paper: paper %>
<% else %>
  No abstract found.  Abstracts may only be added by contributors.
<% end %>
