<% if paper.abstract.present? %>
  <div class='edit-abstract' id="edit-abstract-<%=reference.id%>">
    <% if paper.abstract_editable %>
      <i class='help-block'>
        This abstract is user generated and can be
        <%= link_to 'edited', edit_abstract_path(reference.list.user, reference.list, reference), remote: true %>
      </i>
    <% end %>
    <%= wrap_on_line_breaks paper.abstract %>
  </div>
<% elsif current_user %>
 <%= render 'papers/abstract_form', paper: paper %>
<% else %>
  No abstract found. <%= link_to 'Sign in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %> to add one.
<% end %>