<div class="collapse paper-detail well" id="abstract-<%= reference.id %>">
  <%= render 'papers/abstract', reference: reference %>
</div>

<div class="collapse paper-detail well" id="details-<%= reference.id %>">
  <%= render 'papers/links', reference: reference %>
</div>

<div class="paper-detail well collapse <%= "in" if show_comments %>" id="comments-<%= reference.id %>">
  <%= render 'references/comments', reference: reference %>
</div>