<%= form_for(paper) do |f| %>
  <% if paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paper.errors.count, "error") %> prohibited this paper from being saved:</h2>

      <ul>
      <% paper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <%= f.fields_for :authors, authors do |a| %>  
    <div class="field">
      <%= a.label :name, 'Author Full Name' %>
      <%= a.text_field :name %>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :abstract %>
    <%= f.text_area :abstract %>
  </div>

  <div class="field">
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>

  <div class="field">
    <%= f.label :doi %>
    <%= f.text_field :doi %>
  </div>

  <div class="field">
    <%= f.label :pubmed_id %>
    <%= f.text_field :pubmed_id %>
  </div>

  <div class="field">
    <%= f.label :published_at %>
    <%= f.date_select :published_at %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
