<%= form_for(paper) do |f| %>
  <% if paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paper.errors.count, "error") %> prohibited this paper from being saved:</h2>

      <ul>
      <% paper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <%= f.fields_for :authors, paper.authors do |a| %>
    <div class="field">
      <%= a.label :name, 'Author Full Name' %>
      <%= a.text_field :name %>
    </div>
  <% end %>

  <%= f.fields_for :publications, paper.publication do |p| %>
    <div class="field">
      <%= p.label :name, 'Publication' %>
      <%= p.text_field :name %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :abstract %>
    <%= f.text_area :abstract %>
  </div>

  <div class="field">
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>

  <div class="field">
    <%= f.label :doi %>
    <%= f.text_field :doi %>
  </div>

  <div class="field">
    <%= f.label :pubmed_id %>
    <%= f.text_field :pubmed_id %>
  </div>

  <div class="field">
    <%= f.label :published_at %>
    <%= f.date_select :published_at %>
  </div>

  <div class="field">
    <%= f.label :tag_list, 'Tags (separated by commas)' %>
    <%= f.text_field :tag_list, value: paper.tag_list.join(",") %>
  </div>

  Methodologies:</br>
  <div class="field">
    <label>
      <%= f.check_box :methodology_list, {multiple: true}, 'meta-analysis', nil %>
      meta-analysis
    </label></br>
    <label>
      <%= f.check_box :methodology_list, {multiple: true}, 'systematic review', nil %>
      systematic review
    </label></br>
    <label>
      <%= f.check_box :methodology_list, {multiple: true}, 'randomized control trial', nil %>
      randomized control trial
    </label></br>
    <label>
      <%= f.check_box :methodology_list, {multiple: true}, 'quasi-experiment', nil %>
      quasi-experiment
    </label></br>
    <label>
      <%= f.check_box :methodology_list, {multiple: true}, 'cohort', nil %>
      cohort
    </label></br>
    <label>
      <%= f.check_box :methodology_list, {multiple: true}, 'case-control', nil %>
      case-control
    </label></br>
    <label>
      <%= f.check_box :methodology_list, {multiple: true}, 'cross-sectional survey', nil %>
      cross-sectional survey
    </label></br>
    <label>
      <%= f.check_box :methodology_list, {multiple: true}, 'case report', nil %>
      case report
    </label>
  </div>

  Biases:</br>
  <div class="field">
    <label>
      <%= f.check_box :bias_list, {multiple: true}, 'selection', nil %>
      selection
    </label></br>
    <label>
      <%= f.check_box :bias_list, {multiple: true}, 'performance', nil %>
      performance
    </label></br>
    <label>
      <%= f.check_box :bias_list, {multiple: true}, 'detection', nil %>
      detection
    </label></br>
    <label>
      <%= f.check_box :bias_list, {multiple: true}, 'attrition', nil %>
      attrition
    </label></br>
    <label>
      <%= f.check_box :bias_list, {multiple: true}, 'reporting', nil %>
      reporting
    </label></br>
    <label>
      <%= f.check_box :bias_list, {multiple: true}, 'small sample size', nil %>
      small sample size
    </label>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
