<%= form_for(paper) do |f| %>
  <% if paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paper.errors.count, "error") %> prohibited this paper from being saved:</h2>

      <ul>
      <% paper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-horizontal">

    <div class="form-group">
      <%= f.label :title, class: "col-md-2 control-label" %>
      <div class="col-md-10">
        <%= f.text_area :title, class: "form-control"  %>
      </div>
    </div>

    <%= f.fields_for :authors, paper.authors do |a| %>
      <div class="form-group">
        <%= a.label :name, 'Author Full Name', class: "col-md-2 control-label" %>
        <div class="col-md-10">
          <%= a.text_field :name, class: "form-control"  %>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :publication, class: "col-md-2 control-label" %>
      <div class="col-md-10">
        <%= f.text_field :publication, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :abstract, class: "col-md-2 control-label" %>
      <div class="col-md-10">
        <%= f.text_area :abstract, class: "form-control", rows: 8 %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :link, class: "col-md-2 control-label" %>
      <div class="col-md-10">
        <%= f.text_field :link, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :doi, class: "col-md-2 control-label"  %>
      <div class="col-md-10">
        <%= f.text_field :doi, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :pubmed_id, class: "col-md-2 control-label"  %>
      <div class="col-md-10">
        <%= f.text_field :pubmed_id, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :published_at, class: "col-md-2 control-label"  %>
      <div class="col-md-10">
        <%= f.date_select :published_at, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :tag_list, 'Tags (separated by commas)', class: "col-md-2 control-label"  %>
      <div class="col-md-10">
        <%= f.text_field :tag_list, value: paper.tag_list.join(","), class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :methodology_list, class: "col-md-2 control-label"  %>
      <div class="col-md-10">
        <% paper.valid_methodologies.each do |m|%>
          <label class= "checkbox-inline">
            <%= f.check_box :methodology_list, {multiple: true}, m, nil %>
            <%= m %>
          </label>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :bias_list, class: "col-md-2 control-label"  %>
      <div class="col-md-10">
        <% paper.valid_biases.each do |b|%>
          <label class= "checkbox-inline">
            <%= f.check_box :bias_list, {multiple: true}, b, nil %>
            <%= b %>
          </label>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit button_name, class: "btn btn-primary" %>
      </div>
    </div>

  </div>
<% end %>
