<%
  if @references
    papers = @references.map(&:paper)
    reference_lookup = @references.inject({}) do |memo, ref|
      memo[ref.paper] = ref
      memo
    end
  end
%>
<% papers.each_with_index do |paper,index| %>
  <div class="row paper-show">
    <div class="col-md-1">
      <% if @references %>
        <% paper_reference = reference_lookup[paper] %>
        <%= render 'votes/toggle_like', votable: paper_reference %>
      <% else %>
        <p class="text-center">
          <%= paper.references.map{|ref| ref.get_likes.size }.sum %></br>
          <small>Total Votes</small>
        </p>
      <% end %>
    </div>
    <div class="col-md-11">
      <h4 class="paper-title"><%= link_to paper.title, paper %></h4>
      <% paper.tag_list.each do |tag| %>
        <a class="btn btn-default btn-xs"><%= tag %></a>
      <% end %>

      <small>
        <%= paper.authors.map(&:name).join(', ') %>
        <i>
          <span class="publication"><%= "in " + paper.publication unless paper.publication.nil? %></span>
          <%= "(" + paper.published_at.to_s + ")" unless paper.published_at.nil? %>
        </i>

        <b>Methodologies:</b>
        <% if paper.methodology_list.empty? %>
          <i>(Unknown)</i>
        <% else %>
          <% paper.methodology_list.each do |methodology| %>
            <a class="btn btn-default btn-xs"><%= methodology %></a>
          <% end %>
        <% end %>
        <b>Biases:</b>
        <% if paper.bias_list.empty? %>
          <i>(Unknown)</i>
        <% else %>
          <% paper.bias_list.each do |bias| %>
            <a class="btn btn-default btn-xs"><%= bias %></a>
          <% end %>
        <% end %>
      </small>
      <ul class="nav nav-pills" role="tablist">
        <% %i{abstract details comments}.each do |tab| %>
          <li><%= link_to tab.capitalize, '', "data-detail-id" => "#{tab}-#{index}", class: "small paper-detail-tab" %></li>
        <% end %>
        <li>
          <% if current_user %><%= link_to 'Edit', edit_paper_path(paper), class: "small" %><% end %>
        </li>
      </ul>
      <div>
        <div class="collapse paper-detail well" id="abstract-<%= index %>">
          <p><%= paper.abstract %></p>
        </div>
        <div class="collapse paper-detail well" id="details-<%= index %>">
          <ul>
            <li>DOI: <%= paper.doi %></li>
            <li>Pubmed ID: <%= paper.pubmed_id %></li>
            <li>Link: <%= paper.link %></li>
            <li>Published: <%= paper.published_at %></li>
          </ul>
        </div>
        <div class="collapse paper-detail well" id="comments-<%= index %>">
          <% if @references %>
            <%= render('comments/form', comment: paper_reference.comments.build, display_comment_field: true) if current_user %>
            <% paper_reference.comments.each do |comment| %>
                <%= comments_tree_for comment.hash_tree %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>