<% paper = reference.paper %>
<ul class="nav nav-pills" role="tablist">
  <% %i{abstract details comments}.each do |tab| %>
    <li><%= link_to tab.capitalize, '', "data-detail-id" => "#{tab}-#{tab_id_for(paper)}", class: "small paper-detail-tab" %></li>
  <% end %>
  <% if current_user %>
    <li>
      <%= form_for reference, method: :delete do |r| %>
        <%= r.text_field :id, value: reference.id, hidden: true %>
      <% end %>
      <%= link_to 'Remove from list', {}, class: 'delete-reference small text-danger' %>
    </li>
  <% end %>
</ul>
<div class="collapse paper-detail well" id="abstract-<%= tab_id_for(paper) %>">
  <p><%= paper.abstract %></p>
</div>
<div class="collapse paper-detail well" id="details-<%= tab_id_for(paper) %>">
  <ul>
    <li>DOI: <%= paper.doi %></li>
    <li>Pubmed ID: <%= paper.pubmed_id %></li>
    <li>Link: <%= paper.link %></li>
    <li>Published: <%= paper.published_at %></li>
  </ul>
</div>
<div class="paper-detail well collapse <%= "in" if show_comments %>" id="comments-<%= tab_id_for(paper) %>">
  <% if current_user %>
    <%= render 'comments/form', comment: reference.comments.build, display_comment_field: true %>
  <% else %>
    <h4>
      <%= link_to 'Sign in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %> to comment
    </h4>
  <% end %>
  <% reference.comments.order('cached_votes_up DESC, created_at ASC').each do |comment| %>
      <%= comments_tree_for comment.hash_tree %>
  <% end %>
</div>
