<%
  paper = reference.paper
  comments_count = reference.comments.map {|c| c.self_and_descendants.length}.inject(0,&:+)
  display_count = comments_count.zero? ? "" : "(#{comments_count})"
%>

<ul class="nav nav-pills small" role="tablist">
  <% %i{abstract details}.each do |tab| %>
    <li><%= link_to tab.capitalize, '', "data-detail-id" => "#{tab}-#{reference.id}", class: "paper-detail-tab" %></li>
  <% end %>
  <li><%= link_to "Comments#{display_count}", '', "data-detail-id" => "comments-#{reference.id}", class: " paper-detail-tab" %></li>
  <% if current_user %>
    <li>
      <%= form_for reference, method: :delete do |r| %>
        <%= r.text_field :id, value: reference.id, hidden: true %>
      <% end %>
      <%= link_to 'Remove from list', {}, class: 'delete-reference text-danger' %>
    </li>
  <% end %>
</ul>
<div class="collapse paper-detail well" id="abstract-<%= reference.id %>">
  <p><%= simple_format(paper.abstract, {}, sanitize: true) %></p>
</div>
<div class="collapse paper-detail well" id="details-<%= reference.id %>">
  <ul>
    <% if paper.doi.present? %>
      <li>DOI: <%= link_to paper.doi, "http://dx.doi.org/#{paper.doi}", target: '_blank' %></li>
    <% end %>

    <% if paper.pubmed_id.present? %>
      <li>Pubmed ID: <%= link_to paper.pubmed_id, "https://www.ncbi.nlm.nih.gov/pubmed/#{paper.pubmed_id}", target: '_blank' %></li>
    <% end %>

    <% if paper.links.any? %>
      <li>
        Links:
        <ul>
          <% paper.links.each do |l| %><li><%= link_to l.url, l.url, target: '_blank' %></li><% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
<div class="paper-detail well collapse <%= "in" if show_comments %>" id="comments-<%= reference.id %>">
  <% if current_user %>
    <%= render 'comments/form', comment: reference.comments.build, display_comment_field: true %>
  <% else %>
    <h4>
      <%= link_to 'Sign in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %> to comment
    </h4>
  <% end %>
  <% reference.comments.order('cached_votes_up DESC, created_at ASC').each do |comment| %>
      <%= comments_tree_for comment.hash_tree %>
  <% end %>
</div>
