<% paper = reference.paper %>

<ul class="nav nav-pills small" role="tablist">
  <li><%= link_to 'Abstract', '', "data-detail-id" => "abstract-#{reference.id}", class: "paper-detail-tab" %></li>
  <li><%= link_to 'Details', '', "data-detail-id" => "details-#{reference.id}", class: "paper-detail-tab" %></li>
  <li><%= render 'references/comments_tab', reference: reference %></li>
  <% if current_user %>
    <li>
      <%= form_for reference, method: :delete do |r| %>
        <%= r.text_field :id, value: reference.id, hidden: true %>
      <% end %>
      <%= link_to 'Remove from list', {}, class: 'delete-reference text-danger' %>
    </li>
  <% end %>
</ul>
