<p>
  <strong>Title:</strong>
  <%= @paper.title %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @paper.authors.map(&:full_name).join(', ') %>
</p>

<p>
  <strong>Publication:</strong>
  <span class="publication"> <%= @paper.publication unless @paper.publication.nil? %></span>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @paper.abstract %>
</p>

<p>
  <strong>Link:</strong>
  <%= @paper.link %>
</p>

<p>
  <strong>DOI:</strong>
  <%= @paper.doi %>
</p>

<p>
  <strong>Pubmed ID:</strong>
  <%= @paper.pubmed_id %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @paper.published_at %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @paper.tag_list %>
</p>

<p>
  <strong>Methodologies:</strong>
  <%= @paper.methodology_list %>
</p>

<p>
  <strong>Biases:</strong>
  <%= @paper.bias_list %>
</p>
<%= link_to 'Edit', edit_paper_path(@paper) %> |
