<% if current_user %>
  <%= render 'comments/form', comment: reference.comments.build, hidden: false %>
<% else %>
  <h4>
    <%= link_to 'Sign in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %> to comment
  </h4>
<% end %>

<div class="reference comments" data-commentable-id="<%= reference.id %>">
  <% reference.comments.order('cached_votes_up DESC, created_at ASC').each do |comment| %>
    <%= comments_tree_for comment.hash_tree, reference.list %>
  <% end %>
</div>
