<% paper = reference.paper %>
<% direct_link =
  if paper.doi.present?
    "http://dx.doi.org/#{paper.doi}"
  elsif paper.pubmed_id.present?
    "https://www.ncbi.nlm.nih.gov/pubmed/#{paper.pubmed_id}"
  else
    paper.links.first.url
  end
%>

<div class="row paper-show">
  <% if not show_comments %>
    <div class="col-md-1"><%= render 'votes/toggle_like', votable: reference %></div>
  <% end %>
  <div class="col-md-<%= show_comments ? 12 : 11 %>">
    <% if show_comments %>
      <%= yield(:paper_title) %>
    <% else %>
      <h4 class="paper-title">
        <%= link_to paper.title, direct_link, target: '_blank' %>
        <small>
          contributed by <%= link_to reference.user.username, user_profile_path(reference.user) %>
          - <%= link_to 'permalink', user_reference_path(reference.list.user, reference.list, reference) %>
        </small>
      </h4>
    <% end %>

    <div>
      <%= render 'papers/metadata', paper: paper %>
      <%= render 'papers/tags', paper: paper %>
    </div>
    <%= render 'papers/tablist', reference: reference %>
    <%= render 'papers/detail_wells', reference: reference, show_comments: show_comments %>

  </div>
</div>
