<%
  paper = reference.paper
  comments_page = current_page?(controller: 'references', action: 'show')
%>
<div class="row paper-show">
  <% if not comments_page %>
    <div class="col-md-1"><%= render 'votes/toggle_like', votable: reference %></div>
  <% end %>
  <div class="col-md-<%= comments_page ? 12 : 11 %>">
    <% if comments_page %>
      <%= yield(:paper_title) %>
    <% else %>
      <h4 class="paper-title"><%= link_to paper.title, reference %></h4>
    <% end %>

    <%= render 'papers/tags', paper: paper %>
    <%= render 'papers/metadata', paper: paper %>
    <%= render 'papers/tablist', reference: reference, paper: paper, show_comments: comments_page %>
  </div>
</div>
