<% paper = reference.paper %>
<div class="row paper-show">
  <% if not show_comments %>
    <div class="col-md-1"><%= render 'votes/toggle_like', votable: reference %></div>
  <% end %>
  <div class="col-md-<%= show_comments ? 12 : 11 %>">
    <% if show_comments %>
      <%= yield(:paper_title) %>
    <% else %>
      <h4 class="paper-title">
        <%= link_to paper.title, user_reference_path(reference.list.user, reference.list, reference) %>
        <small>contributed by <%= link_to reference.user.username, user_profile_path(reference.user) %></small>
      </h4>
    <% end %>

    <div>
      <%= render 'papers/metadata', paper: paper %>
    </div>
    <%= render 'papers/tags', paper: paper %>
    <%= render 'papers/tablist', reference: reference, show_comments: show_comments %>
  </div>
</div>
