<!DOCTYPE html>
<html>
  <head>
    <title>Project Credo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <div>
        <span><%= link_to 'Project Credo', root_path %></span>
        <span><%= text_field_tag :search, 'Reserved: future searches', disabled: true %></span>
        <span><%= render partial: 'layouts/user_session_links' %></span>
      </div>
      <div>
        <%= link_to button_tag('Lists'), lists_path %>
        <%= link_to button_tag('Papers'), papers_path %>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
